@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playwrite+AU+SA:wght@100..400&family=Playwrite+IN:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  .navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-links{
    display: flex;
   gap: 20px;
   list-style: none;
  
  }
  .nav-link{
    color: black;
    text-decoration: none;
  }
  .light-gray{
    background-color: rgb(229, 229, 190);
  }
  .navber, .banner{
    max-width: 1600px;
    margin: 0 auto;
  
  }
  .banner-contant, .header-second-container{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  .btn-primary{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 300px;
    height: 70px;
    font-weight: 900;
    font-size: 1.8rem;
    background-color: white;
    border: none;
    box-shadow: 5px 5px 5px cornflowerblue;
    border-radius: 15px;
    border: 2px solid black;
  }
  .btn-primary:hover{
    height: 80px;
    width: 320px;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 5px  5px 5px 5px black;
    background-color: rgba(255, 38, 0, 0.656);
  }
  .img-right{
    border-radius: 20px;
  }
  .home-title{
    font-weight: 800;
    font-size: 5rem;
  }
  .header-second-container{
    display: flex;
    margin-top: 50px;
  }
  .left-container{
    background-color:rgba(221, 211, 211, 0.773);
    border: 3px solid black;
    border-radius: 50%;
    
  }
  .right-container{
    padding-left: 100px;
    
  }
  .second-btn{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 15px;
    background-color: rgb(242, 87, 30);
    color: white;
    font-weight: 700;
  }
  .second-btn:hover{
    width: 110px;
    height: 45px;
    border: 2px solid white;
    background-color: rgba(240, 47, 13, 0.791);
    box-shadow: 3px 3px 3px white;
  }
  
  @media only screen and (max-width:576px) {
    .navber,.nav-links{
      flex-direction: column;
    }
    .header-second-container{
      flex-direction: column;
    }
    .img-right{
      max-width: 570px;
    
    }
    .right-container{
      margin-right: 60px;
    }
  }